
.card2{
display: flex;
justify-content: space-evenly;
padding-top: 150px;


}

.project {
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: left;
    font-size: 60px;
    padding-top: 50px;
    padding-left: 10px;
  }


  .omschrijving {
    color: rgb(24, 164, 188);
    text-align: center;
    font-size: 40px;
    padding-top: 100px;
  }

  .text{
    margin-top: 80px;

  }
  .text2{
    font-size: large; 
    width: 1000px;
  }

  


.card3{
 margin-top: 90px;
}


.parent {
  position: relative;
  top: 0;
  left: 0;
}


.weeg {
  position: absolute;
  width: 300px;
  height: auto;
  margin-top: 150px; 
  margin-left: 200px;  
  
  
}

.gp {
  position: absolute;
   width: 50px;
   height: auto;
   margin-top: 85px; 
   margin-left: 290px;
  
  
}

.rpi {
  position: absolute;
   width: 53px;
   height: auto;
   margin-top: 63px; 
   margin-left: 230px;
  
  
}

.py {
  position: absolute;
   width: 35px;
   height: auto;
   margin-top: 5px; 
  
  
}

.rpi_board {
  position: absolute;
  width: 300px;
  height: auto;
  margin-top: 150px; 
  
  
}

.massa{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 50px;
  font-size: 100px;
  text-align: center;


}

.vogels{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 100px;
  margin-left: 50px;
  text-align: center;


}

.live{
  font-family: 'LEMON MILK';
  font-size: 100px;
  text-align: center;
  background-color: rgb(120, 166, 206);
  color: white;
  margin-top: 100px;
  
}

.converter {
  position: absolute;
  width: 250px;
  height: auto;
  margin-top: 60px; 
  margin-left: 650px;  
  
  
}

.image2 {
  position: absolute;
   top: 50%;
   left: 50%;
   width: 442px;
   height: 154px;
   margin-top: -350px; 
   margin-left: -210px; 
  
  
}