
.card2{
display: flex;
justify-content: space-evenly;
padding-top: 150px;


}

.project {
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: left;
    font-size: 60px;
    padding-top: 50px;
    padding-left: 10px;
  }


  .omschrijving {
    color: rgb(24, 164, 188);
    text-align: center;
    font-size: 40px;
    padding-top: 100px;
  }

  .text{
    margin-top: 250px;
    margin-left: 50px;

  }
  .text2{
    font-size: large; 
    margin-left: 50px; 
    width: 1000px;
  }

  


.card3{
 margin-top: 90px;
}


.parent {
  position: relative;
  top: 0;
  left: 0;
}



.image2 {
  position: absolute;
   top: 50%;
   left: 50%;
   width: 442px;
   height: 154px;
   margin-top: -50px; 
   margin-left: -210px; 
  
  
}

.img_componenten {
  background-image:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(43, 117, 146, 0.73)),
  url('/Afbeeldingen/Sensor.jpg');

  position: relative;
  width: 100%;
  height: 850px;
  background-size: cover;
  margin-top: -200px;
}

.componenten_tekst {
  position: absolute;
   top: 50%;
   left: 50%;
   width: 542px;
   height: auto;
   margin-top: -50px; 
   margin-left: -270px; 
  
  
}

.img_code {
  background-image:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(43, 117, 146, 0.73)),
  url('/Afbeeldingen/background.jpeg');

  position: relative;
  width: 100%;
  height: 800px;
  background-size: cover;
  margin-top: -150px;
 
}

.code_tekst {
  position: absolute;
   top: 50%;
   left: 50%;
   width: 450px;
   height: auto;
   margin-top: -90px; 
   margin-left: -240px; 
  
  
}

.img_project {
  background-image:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(43, 117, 146, 0.73)),
  url('/Afbeeldingen/board.jpg');

  position: relative;
  width: 100%;
  height: 800px;
  background-size: cover;
  margin-top: -150px;
 
}

.img_planning {
  background-image:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(43, 117, 146, 0.73)),
  url('/Afbeeldingen/planning.jpg');

  position: relative;
  width: 100%;
  height: 800px;
  background-size: cover;
  margin-top: -150px;
 
}

.planning_tekst {
  position: absolute;
   top: 50%;
   left: 50%;
   width: 500px;
   height: auto;
   margin-top: -50px; 
   margin-left: -245px;  
  
  
}