
.card2{
display: flex;
justify-content: space-evenly;
padding-top: 150px;


}

.project {
    color: rgb(0, 0, 0);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-align: left;
    font-size: 60px;
    padding-top: 50px;
    padding-left: 10px;
  }


  .omschrijving {
    color: rgb(24, 164, 188);
    text-align: center;
    font-size: 40px;
    padding-top: 100px;
  }

  .text{
    margin-top: 80px;
    margin-left: 50px;

  }
  .text2{
    font-size: large; 
    margin-left: 50px; 
    width: 1000px;
  }

  


.card3{
 margin-top: 90px;
}


.parent {
  position: relative;
  top: 0;
  left: 0;
}


.weeg {
  position: absolute;
  width: 300px;
  height: auto;
  margin-top: 150px; 
  margin-left: 1100px;  
  
  
}

.gp {
  position: absolute;
   width: 50px;
   height: auto;
   margin-top: 85px; 
   margin-left: 290px;
  
  
}

.rpi {
  position: absolute;
   width: 53px;
   height: auto;
   margin-top: 63px; 
   margin-left: 285px;
  
  
}

.py {
  position: absolute;
   width: 35px;
   height: auto;
   margin-top: 5px; 
  
  
}

.rpi_board {
  position: absolute;
  width: 300px;
  height: auto;
  margin-top: 150px; 
  
  
}
